name: markdown-linting

on:

  pull_request:
    branches: 
      - '**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Markdown Linter
        uses: DavidAnson/markdownlint-cli2-action@v15
        with:
          config: .github/workflows/.markdownlint.json
          globs: 'docs/**/*.md'

  remark:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Remark Linter
        run: npm run lint:remark
